<div class="container">
    <div [@debuDataToggleAnim]="debugData ? 'open' : 'closed'" class="floatyData">
        <div class="toggleDebugData">
            <span (click)="toggleDebugData()" class="material-symbols-outlined">
                <!-- {{debugData ? 'expand_less' : 'expand_more'}} -->
            </span>
        </div>
        <!-- <ul>
        <li> accuracy: {{cp.accuracy}}</li>
        <li> zoom: {{cp.zoom}}</li>
        <li> altitude: {{cp.altitude}}</li>
        <li> heading: {{cp.heading}}</li>
        <li> latitude: {{cp.latitude}}</li>
        <li> longitude: {{cp.longitude}}</li>
        <li> speed: {{cp.speed}}</li>
    </ul> -->
        <!-- <div class="selected traseu" *ngIf="tSelected">
        ati selectat: {{tSelected.name}}
        <div class="deselect" (click)="deselect()">X</div>
    </div> -->
    </div>

    <div [@trackInfoAnim]="tSelected ? 'visible' : 'hidden'" (click)="deselect()" class="trackInfo">
        <div *ngIf="tSelected" class="trackdata">
            <span class="trackDataRow">Name: {{tSelected.name}}</span>
            <span *ngIf="!poiClicked" class="trackDataRow">Length: {{tSelected.trackLength}} m</span>
            <span *ngIf="!poiClicked" class="trackDataRow">Difficulty: {{tSelected.difficulty}}</span>
            <span *ngIf="!poiClicked && tSelected.altDiff" class="trackDataRow">Altitude descent: {{tSelected.altDiff}}
                m</span>
            <span *ngIf="tSelected.url"> <a target="_blank" [href]="tSelected.url">Trailforks link</a></span>
        </div>
        <div class="close" (click)="deselect()">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>

    <google-map class="google-map" (mapInitialized)="mapinit($event)" [center]="mapCenter" [height]="windowInnerHeight"
        [width]="windowInnerWidth" [options]="mapOptions">

        <map-polyline *ngFor="let traseu of trasee" [path]="traseu.points" [options]="traseu.lineOptions"
            (polylineClick)="polylineClick($event, traseu)">
            <map-marker [options]="poiStartOptions" [position]="traseu.poiStart"
                (mapClick)="trackStartMarkerClick($event, traseu.poiStart)"></map-marker>
            <map-marker [options]="poiFinishOptions" [position]="traseu.poiFinish"
                (mapClick)="trackFinishMarkerClick($event, traseu.poiFinish)"></map-marker>
        </map-polyline>

        <map-polyline *ngFor="let track of closed" [path]="track.points" [options]="closedTrackLineOptions">
            <!-- poiClosed -->
            <map-marker [options]="poiClosed" [position]="track.closedStart"></map-marker>
            <map-marker [options]="poiClosed" [position]="track.closedEnd"></map-marker>
        </map-polyline>

        <map-marker [options]="poisOptions" *ngFor="let poi of pois" [position]="poi"
            (mapClick)="markerClick($event, poi)"></map-marker>

        <map-circle [center]="circleCenter" [radius]="cp.accuracy" [options]="accuracyCircleOptions"></map-circle>
        <map-circle [center]="circleCenter" [radius]="pinPointRadius" [options]="pinPointCircleOptions"></map-circle>
        <map-polygon [options]="pinPointCircleOptions" [paths]="arrow" *ngIf="cp.speed"></map-polygon>
    </google-map>

    <div (click)="infoToggle()" class="cursor customButton captionInfoButton">
        <span class="material-symbols-outlined">info</span>
    </div>

    <div (click)="findMe()" class="cursor customButton findMe">
        <span *ngIf="followMe" [ngStyle]="followMe ? {'color': 'red'} : {'color' : 'black'}"
            class="material-symbols-outlined">my_location</span>
        <span *ngIf="!followMe" [ngStyle]="followMe ? {'color': 'red'} : {'color' : 'black'}"
            class="material-symbols-outlined">location_searching</span>
    </div>
    
    <div [@captionInfoAnim]="captionInfoVisible ? 'visible' : 'hidden'" class="captionInfo">

        <div class="content">
            <div class="title">Caption</div>
            <div class="row">
                <div class="image"><img [src]="'/assets/start.png'" alt=""></div>
                <div class="description">Marker for the beginning of the track</div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/finish.png'" alt=""></div>
                <div class="description">Marker for the ending of the track</div>
            </div>

            <div class="row">
                <div class="image"><img [src]="'/assets/caption/poi.jpg'" alt=""></div>
                <div class="description">Marker for different points of interest (lift, restaurant, lodge, bar, cafe,
                    etc.)</div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/closed.png'" alt=""></div>
                <div class="description">Marker for signaling sections of track in maintenance</div>
            </div>

            <div class="row">
                <div class="image"><img [src]="'/assets/caption/blue.jpg'" alt="blue"></div>
                <div class="description">Track - easy difficulty - suitable for all ages and levels of ability and/or
                    skill</div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/caption/red.jpg'" alt="red"></div>
                <div class="description">Track - medium difficulty - suitable for medium levels of ability and/or skill
                </div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/caption/black.jpg'" alt="black"></div>
                <div class="description">Track - hard difficulty - suitable for advanced levels of ability and/or skill
                </div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/caption/maintenance.jpg'" alt="maintenance"></div>
                <div class="description">Track section closed for maintenance</div>
            </div>
            <div class="row">
                <div class="image">
                    <img [src]="'/assets/caption/trackme.jpg'" alt="trackme">
                </div>
                <div class="description">Center the map on my location (requires device location services to be enabled)
                </div>
            </div>
            <div class="row">
                <div class="image"><img [src]="'/assets/caption/location.jpg'" alt="location"></div>
                <div class="description">My location (aprox.)</div>
            </div>
            <div class="row">
                <div class="image">
                    <img [src]="'/assets/caption/direction.jpg'" alt="direction">
                </div>
                <div class="description">Direction of movement (appears while moving)</div>
            </div>
            <!-- .row>(.image>img)+.description -->
        </div>

        <div (click)="infoToggle()" class="cursor close">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>


    <!-- <svg version="1.1" class="logo" viewbox="0 0 782 382">
        <g>
            <path class="a1"
                d="M34.7,53.9l-15.8,8.7l12.3,3.6l-2,6.8L3.2,65.4L4,62.6l15.8-8.7L7.6,50.3l2-6.8l25.9,7.5L34.7,53.9z" />
            <path class="a2"
                d="M24.4,24l6.4,7.2l6.4-5.7l-6.4-7.2l5.3-4.7L54,33.9l-5.3,4.7l-6.8-7.7l-6.4,5.7l6.8,7.7l-5.3,4.7L19,28.7L24.4,24z" />
            <path class="a3" d="M100.7,7.1L83.6,31.5l-3.2-0.6L72.7,2.1l7,1.3L84,19.8l9.7-13.9L100.7,7.1z" />
            <path class="a4" d="M112.9,14.5l12.9,10.7l-3.7,4.5l-7.5-6.2l-2.8,3.4l6.6,5.5l-3.8,4.6l-6.6-5.5l-3.2,3.8l7.5,6.2l-3.7,4.5L95.7,35.3
			L112.9,14.5z" />
            <path class="a5" d="M134.6,36.5l3,6.4l-17.9,8.5l4.2,8.8l-6.4,3.1l-7.2-15.2L134.6,36.5z" />
            <path class="a6"
                d="M144.7,79.2c-0.5,7.4-7.1,13-14.5,12.5c-7.4-0.5-13-7-12.4-14.5c0.5-7.4,7-13,14.4-12.4C139.6,65.3,145.3,71.7,144.7,79.2
			z M137.7,78.7c0.3-3.5-2.4-6.6-6-6.9c-3.5-0.3-6.6,2.4-6.9,5.9c-0.3,3.6,2.4,6.6,6,6.9C134.3,84.9,137.4,82.2,137.7,78.7z" />
            <path class="a7" d="M104.5,126.8l-4.5,14.2l-2.8,1.6l-13.5-23.4l6.2-3.6l6.9,12l2.9-9.1l9.3,2l-6.9-12l6.2-3.6l13.5,23.4l-2.8,1.6
			L104.5,126.8z" />
            <path class="a8" d="M83.1,119.3l-15.8,25.3l-3.2-0.4l-9.3-28.3l7,0.9l1.2,3.7l11,1.3l2-3.3L83.1,119.3z M70.6,127.3l-5.5-0.7l2,6.2
			L70.6,127.3z" />
            <path class="a9" d="M37.6,135.4l-8.9-7.1c-4.3-3.4-4.9-9.7-1.5-14c3.4-4.2,9.7-4.9,13.8-1.6l3.4,2.8l4.5-5.6l5.5,4.4L37.6,135.4z M40.7,120.3
			l-3.4-2.8c-1.7-1.4-4.1-1.1-5.4,0.6s-1.1,4.1,0.6,5.5l3.4,2.8L40.7,120.3z" />
        </g>
    </svg> -->

</div>